<table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td width="100%">
      	<div style="width: 100%; background: #ccc; border-top-left-radius: 4px; border-top-right-radius: 4px;">
		<img style="width: 196px; margin:0;" alt="Talents Community Email Header" src="{{.AppLogo}}">
		<div style="clear: both;"></div>
		</div>
        <br>
        <font size="3" color="#000000" face="Geneva,Verdana,Arial,Helvetica"><b>
        Dear {{.User.Name}},
      </b>
          <br>
          <br> {{.Message}}
          <br>
          <br>
        </font>
        <br>
        <br>
        <font size="3" color="#333333" face="Geneva,Verdana,Arial,Helvetica">
          <br> Sincerely,
          <br>
          <br>
          <br> The Talents Community team
          <br> Africa Internship Academy
          <br>
          <br>
          <br>
        </font>
      </td>
    </tr>
  </tbody>
</table>