<table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td width="100%">
      	<div style="width: 100%; background: #ccc; border-top-left-radius: 4px; border-top-right-radius: 4px;">
		<img style="width: 196px; margin:0;" alt="Talents Community Email Header" src="https://talentsinafrica.com/static/images/logo-web.png" class="CToWUd">
		<div style="clear: both;"></div>
		</div>
        <br>
        <font class="m_-7077557394037023092body" size="3" color="#000000" face="Geneva,Verdana,Arial,Helvetica"><b>
        Dear Raphael,
      </b>
          <br>
          <br> Use your new Apple ID to discover, preview and purchase music, apps, and more.* Plus, with iCloud, your purchases are available wherever, whenever you want them.
          <br>
          <br>
        </font>
        <font class="m_-7077557394037023092body" size="3" color="#333333" face="Geneva,Verdana,Arial,Helvetica">
          To get started, sign in on your iPhone, iPad, iPod touch, Mac, PC, or Apple TV.
        </font>
        <br>
        <br>
        <br>
        <table width="350" border="0" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr>
              <td width="1"><img width="1" height="12" src="https://ci6.googleusercontent.com/proxy/n17QlgMKl7SMMru96iKDfkrfQzcgqotA7wRNL5p9_9PvcxBnQTspKaJphCY3cSf_he5wgYYMCBaZPaLJrHnOIoC4X_bUsBoHmQ41d7w=s0-d-e1-ft#http://r.mzstatic.com/email/images_shared/box_top_l.gif" class="CToWUd"></td>
              <td colspan="3" width="348"><img width="348" height="12" src="https://ci3.googleusercontent.com/proxy/0n9xedXAMmsIu-92oVPmvdadoRLelW2QekHeNZ19M_7-PqOVnWb1jY1V3sWwilELldXGMlb1kFSOtJXc_a-gq90gZb1Y2FKkmlIsa8e_=s0-d-e1-ft#http://r.mzstatic.com/email/images_shared/box350_top.gif" class="CToWUd"></td>
              <td width="1"><img width="1" height="12" src="https://ci6.googleusercontent.com/proxy/n17QlgMKl7SMMru96iKDfkrfQzcgqotA7wRNL5p9_9PvcxBnQTspKaJphCY3cSf_he5wgYYMCBaZPaLJrHnOIoC4X_bUsBoHmQ41d7w=s0-d-e1-ft#http://r.mzstatic.com/email/images_shared/box_top_l.gif" class="CToWUd"></td>
            </tr>
            <tr>
              <td bgcolor="#cccccc" width="1">
                <img width="1" height="1" src="https://ci6.googleusercontent.com/proxy/CgB4T70Kn6brObii9U2xEhLbwvQenrCr1Xi_gZIx1ByVnokJmSNBcTekj3RC_JPRF2z_EVvmZHCfCM-R2qk1zep2sHQQG6t1Dvs=s0-d-e1-ft#http://r.mzstatic.com/email/images_shared/spacer.gif" class="CToWUd">
              </td>
              <td nowrap="" width="20">&nbsp;</td>
              <td align="left" valign="middle" nowrap="" width="248">
                <img width="1" height="1" src="https://ci6.googleusercontent.com/proxy/CgB4T70Kn6brObii9U2xEhLbwvQenrCr1Xi_gZIx1ByVnokJmSNBcTekj3RC_JPRF2z_EVvmZHCfCM-R2qk1zep2sHQQG6t1Dvs=s0-d-e1-ft#http://r.mzstatic.com/email/images_shared/spacer.gif" class="CToWUd">
                <font class="m_-7077557394037023092body" size="3" color="#000000" face="Geneva,Verdana,Arial,Helvetica">
                  <br>
                  <b>
                  
                      Your Apple ID:<br>
                    <a href="mailto:ralphsnakie@gmail.com" target="_blank">ralphsnakie@gmail.com</a>
                  
                  
                </b>
                  <br>
                  <br> ( Use the password associated with this Apple ID. )
                  <br>
                  <img width="1" height="1" src="https://ci6.googleusercontent.com/proxy/CgB4T70Kn6brObii9U2xEhLbwvQenrCr1Xi_gZIx1ByVnokJmSNBcTekj3RC_JPRF2z_EVvmZHCfCM-R2qk1zep2sHQQG6t1Dvs=s0-d-e1-ft#http://r.mzstatic.com/email/images_shared/spacer.gif" class="CToWUd">
                  <br>
                </font>
              </td>
              <td nowrap="" width="10">&nbsp;</td>
              <td bgcolor="#cccccc" width="1">
                <img width="1" height="1" src="https://ci6.googleusercontent.com/proxy/CgB4T70Kn6brObii9U2xEhLbwvQenrCr1Xi_gZIx1ByVnokJmSNBcTekj3RC_JPRF2z_EVvmZHCfCM-R2qk1zep2sHQQG6t1Dvs=s0-d-e1-ft#http://r.mzstatic.com/email/images_shared/spacer.gif" class="CToWUd">
              </td>
            </tr>
            <tr>
              <td colspan="5" width="350">
                <img width="350" height="12" src="https://ci5.googleusercontent.com/proxy/M65ZOCtjoXR46kckoOLUOJwKfwDR8_bdHFlafPTTnAVOE9hetE5Bu4EgA-oNDCGR0B1YG5xNp9XwHqWQswXe6Hh6kmw8-3zw6QU3iofS=s0-d-e1-ft#http://r.mzstatic.com/email/images_shared/box350_bot.gif" class="CToWUd">
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>
        <font class="m_-7077557394037023092body" size="3" color="#333333" face="Geneva,Verdana,Arial,Helvetica">
          <a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/com.apple.jingle.app.store.DirectAction/storeFront" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://phobos.apple.com/WebObjects/MZStore.woa/wa/com.apple.jingle.app.store.DirectAction/storeFront&amp;source=gmail&amp;ust=1510951730187000&amp;usg=AFQjCNGkwV5JdMS2jHzcDa5Jp_Wg09HllA">
            Start browsing and shopping — go to the iTunes Store now.
          </a>
          <br>
          <br> In the iTunes Store you can browse and shop for music, apps and more — from the hottest new releases to the up-and-coming artists to the classics.&nbsp;
          <br>
          <br> In the App Store, choose from more than 1 million apps and games for your iOS devices and Mac. Don’t miss the free App of the Week, featured on the main page.
          <br>
          <br> In the iBooks Store, you can check out millions of titles, from the latest bestsellers to biographies and more, enhancing your reading with interactive, Multi-touch books.
          <br>
          <br> *Note that not all content types are available everywhere.
          <br>
          <br>
          <br>
          <br> If you have forgot your password or have customer service questions, visit&nbsp;<a href="https://support.apple.com/en-gb/itunes" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://support.apple.com/en-gb/itunes&amp;source=gmail&amp;ust=1510951730187000&amp;usg=AFQjCNF5Hp6O-OwEOAGFJqqa7YHjH9QwcQ">https://support.apple.<wbr>com/en-gb/itunes</a>.
          <br>
          <br>
          <br> Sincerely,
          <br>
          <br>
          <br> The Talents Community team
          <br> Africa Internship Academy
          <br>
          <br>
          <br>
        </font>
      </td>
    </tr>
  </tbody>
</table>